<div class="board__container">
  <div class="board__box">
    <div class="board__gameboard" [ngStyle]="setGameboardStyles()">
      <ng-container *ngFor="let item of board; index as i">
        <div class="board__cell" *ngFor="let item of board[i]; index as k"
          [style.backgroundColor]="board[i][k] ? '#e63946':'white'" (click)="onCellClicked(i, k)">
        </div>
      </ng-container>
    </div>
  </div>
  <div class="board__controls">
    <button class="board__button" (click)="startLifeCycle()">Wystartuj grę</button>
    <button class="board__button" (click)="stopLifeCycle()">Zatrzymaj grę</button>
    <button class="board__button" (click)="speedUpLifeCycle()">Przyspiesz grę</button>
    <button class="board__button" (click)="slowDownLifeCycle()">Spowolnij grę</button>
  </div>
  <div class="board__inputs">
    Rzędy:
    <input class="board__input" max="40" min="20" type="number" [value]="rows" #rowsInput>
    Kolumny:
    <input class="board__input" max="40" min="20" type="number" [value]="columns" #colsInput>
    <button type="button" class="board__button" (click)="changeBoard(rowsInput, colsInput)">Zmień rozmiar
      planszy</button>
  </div>
  <p class="board__text board__text--warning" *ngIf="!validInputs">
    Liczba rzędów i kolumn musi się mieścić w zakresie 20-40
  </p>
  <p class="board__text">
    Generacja: {{generation}}
  </p>
</div>
